/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  width 250px!important

html {
  background-color: #171923;
}

body {
  background-color: #171923;
}

aside {
  background-color: #13151D !important;
  border-right: none !important;
}

.navbar, .navbar * {
  background-color: #13151D !important;
  border-bottom: none;
}

code {
  background-color: #334155 !important
}

pre code {
  background-color: transparent !important;
}

.custom-block.warning {
  border-radius: 0.5rem
  background-color : rgb(31 41 55) !important;
  border-left none
  color rgb(250 202 21)
  font-size 0.9rem
}