/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  width 250px!important

html {
  background-color: #171923;
}

body {
  background-color: #171923;
}

aside {
  background-color: #13151D !important;
  border-right: none !important;
}

.navbar, .navbar * {
  background-color: #13151D !important;
  border-bottom: none;
}